.container {
  width: 100vw;
  padding: 0 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0f172a;
  color: white;
}

.first {
  flex: 1;
}
.second {
  flex: 1;
}

@media (min-width: 1160px) and (max-width: 1290px) {
  .container {
    padding: 0 70px;
  }
}
@media (min-width: 901px) and (max-width: 1160px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 0 110px;
  }
}
@media (max-width: 850px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }
}
